<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

</html>

<body>
  <h1>Is it a Palindrome?</h1>

  <form action="/palindrome" method="POST">
    <input id="wordInput" type="text" placeholder="Enter Sentence" name="try">
    <button type="submit">Submit</button>
  </form>

  <h2 id="result"></h2>
  <h3>Your Attempts</h3>
  <% for(var i=0; i < attempts.length; i++) {%>
    <ul class="palindromes">
      <li class="palindrome">
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
        <span>
          <%= attempts[i].try %>
        </span>
      </li>
    </ul>
    <% } %>

      <script src="/main.js"></script>
</body>

</html>